.header {
  width: 100%;
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header__logo {
  flex-basis: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  img {
    width: 20rem;
  }
}
.header__exit {
  flex-basis: 100%;
  text-align: center;
  button {
    padding: 0.5rem 2rem;
    cursor: pointer;
  }
}
