<section class="products">
  <article class="product-preview" *ngFor="let product of products">
    <picture class="product-preview__img">
      <img [src]="product.image" alt="" />
    </picture>
    <div class="product-preview__title">
      <h4>{{ product.title }}</h4>
      <span>Plaza vea</span>
    </div>
    <div class="product-preview__price">
      <span>Precio x kg</span>
      <strong>S/ {{ product.price }}</strong>
    </div>
    <div class="product-preview__btn">
      <button type="button">Agregar</button>
    </div>
  </article>
</section>
