.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  gap: 1rem;
  padding: 10rem 5rem;
}
.product-preview {
  box-shadow: 0.2rem 0.4rem 0.5rem gray;
  padding: 1rem 2rem;
  flex-basis: 90%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 2rem;
  border: 0.1rem solid gray;
  margin-bottom: 2rem;
}
.product-preview__img {
  flex-basis: 100%;
  text-align: center;
  img {
    width: 20rem;
    height: 20rem;
    object-fit: contain;
    object-position: center;
  }
}
.product-preview__title {
  flex-basis: 100%;
  padding: 1rem 0rem;
  h4 {
    font-size: 2rem;
    padding: 1rem 0rem;
  }
  span {
    display: block;
    font-size: 1.6rem;
  }
}

.product-preview__price {
  flex-basis: 100%;
  padding: 1rem 0rem;
  span {
    display: block;
    font-size: 1.6rem;
  }
  strong {
    display: block;
    font-size: 2.2rem;
    color: #fc2016;
  }
}

.product-preview__btn {
  flex-basis: 100%;
  padding: 1rem 0rem 1rem 0rem;
  text-align: center;
  button {
    padding: 1rem 3rem;
    font-size: 1.6rem;
    background-color: #fc2016;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.3rem gray;
  }
}

@media screen and (min-width:"500px") {
  .product-preview {
    flex-basis: 20%;
  }
}
