.login-container {
  width: 100%;
  min-height: 100vh;
  padding: 3rem 0rem;
}

.login__title {
  h1 {
    width: 30rem;
    margin: auto;
    text-align: center;
    font-size: 2.5rem;
    color: red;
    span {
      font-weight: 500;
    }
  }
}

.login__form {
  width: 100%;
}

.form {
  width: 35rem;
  margin: auto;
  padding: 4rem 0rem;
}

.form-group {
  padding: 2rem 0rem;
  display: flex;
  flex-wrap: wrap;
  label {
    flex-basis: 100%;
    color: red;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem 0rem;
    span {
      font-weight: normal;
      text-transform: lowercase;
    }
  }
  input {
    flex-basis: 100%;
    padding: 1rem 2rem;
  }

  button {
    width: 50%;
    margin: auto;
    border-radius: 2rem;
    padding: 1rem 1rem;
    border: none;
    color: red;
    background-color: yellow;
    cursor: pointer;
  }
}
.alert {
  font-size: 2rem;
  color: rgb(29, 46, 4);
  padding: 1rem;
}
.login__banner {
  width: 100%;
  text-align: center;
  img {
    width: 35rem;
  }
}
