<div class="login-container">
  <div class="login__title">
    <h1>APROVECHA LOS MEJORES PRECIOS<br /><span>QUE TENEMOS PARA TI</span></h1>
  </div>
  <div class="login__form">
    <form [formGroup]="form" class="form" (ngSubmit)="login($event)">
      <div class="form-group">
        <label for="dni"
          >Ingresa tu DNI <br /><span>y obtén descuentos esclusivos</span>
        </label>
        <input
          placeholder="Ejemplo: 73130183"
          class="form-control"
          type="number"
          name="dni"
          formControlName="dni"
          required
        />
      </div>

      <div class="alert">
        <p *ngIf="form.invalid">El dni debe contener 8 digitos</p>
      </div>
      <div class="form-group">
        <button [disabled]="form.invalid" type="submit">Ingresar</button>
      </div>
    </form>
  </div>
  <div class="login__banner">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtpommXRADAe66AMgnA1bPq869xkj8Eph5Fw&usqp=CAU"
      alt=""
    />
  </div>
</div>
