$colorNombre: #00577d;
.home-container {
  width: 100%;
}
.home__title {
  width: 100%;
  h2 {
    text-align: center;
    color: $colorNombre;
    font-size: 3.4rem;
  }
}

.categories {
  width: 100%;
  padding: 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: space-between;
}
.categories__title {
  flex-basis: 100%;
  color: #fc2016;
  font-size: 2.8rem;
  padding: 2rem 3rem;
}
.categorie-preview {
  flex-basis: 30%;
  border-radius: 2rem;
  padding: 2rem 0.5rem;
  color: white;
  background-color: #fc2016;
  border: 0.1rem solid white;
  text-align: center;
  cursor: pointer;
}
.categorie-preview:hover {
  color: #fc2016;
  background-color: white;
  border: 0.1rem solid #fc2016;
}
.categorie-preview h3 {
  font-size: 1.8rem;
}
