<div class="home-container">
  <div class="home__title"><h2>!Hola Rodrigo!</h2></div>
  <section class="categories">
    <h2 class="categories__title">Categorías</h2>
    <article
      (click)="loadProductsOnCategory(categorie)"
      class="categorie-preview"
      *ngFor="let categorie of categories"
    >
      <h3>{{ categorie }}</h3>
    </article>
  </section>
  <app-products [products]="products"></app-products>
</div>
